extends ../layout
block content
  div
    h1 설문 작성
    h1 #{questionnaire.questionnaireName}
    p
      b by #{questionnaire.email}
      | 
      span at #{moment(questionnaire.createdAt).format('YYYY-MM-DD HH:mm:ss')} 
      | 
    b 설문지 설명
    p.well(style='white-space:pre;')= questionnaire.questionnaireExplanation
    b 질문
    p.well(style='white-space:pre;')= questionnaire.question
    
    if questionnaire.questionType == 'short'
      form(action='/questionnaire/#{questionnaire._id}', method='POST')
        div.form-group
          label(for='question') 답변
          input.form-control(type='text', name='answer', placeholder='답변')
        div.form-actions
          a.btn.btn-default(href='/') 홈으로 
          | 
          button.btn.btn-primary(type='submit') 제출 
    else if questionnaire.questionType == 'long'
      form(action='/questionnaire/#{questionnaire._id}', method='POST')
       div.form-group
         label(for='question') 답변
         textarea(rows='10', cols='80' name='answer', placeholder='답변')
       div.form-actions
         a.btn.btn-default(href='/') 홈으로 
         | 
         button.btn.btn-primary(type='submit') 제출 
    else
      form(action='/questionnaire/#{questionnaire._id}', method='POST')
        div.form-group
          each arr in questionnaire.multiple
            input.radio1(type='radio', name='answer' value='#{arr}')
            b  #{arr}
            br
          if questionnaire.andSoOn===false
            input(type='text', name='answer', id='inputOption' placeholder='기타 답변')
            
        div.form-actions
          a.btn.btn-default(href='/') 홈으로 
          | 
          button.btn.btn-primary(type='submit') 제출     
    
