extends ../layout
block content 
    div
      h1 설문 결과
      h1 설문지 제목:#{questionnaire.questionnaireName}
      p
        b by #{questionnaire.email}
        | 
        span at #{moment(questionnaire.createdAt).format('YYYY-MM-DD HH:mm:ss')} 
        | 
      b 설문지 설명
      p.well(style='white-space:pre;')= questionnaire.questionnaireExplanation
      b 질문
      p.well(style='white-space:pre;')= questionnaire.question
      b 응답자수: #{count}
      each questionnaireAnswer in questionnaireAnswers
        p
          span at #{moment(questionnaireAnswer.createdAt).format('YYYY-MM-DD HH:mm:ss')} 
        p.well(style='white-space:pre;')= questionnaireAnswer.answer
